/*
    variables font
*/

$fontSFProRegular: "SF-Pro-Display-Regular";
$fontSFProLight: "SF-Pro-Display-Light";
$fontSFProBold: "SF-Pro-Display-Bold";
$fontSFProSemiBold: "SF-Pro-Display-Semibold";
$fontSFProMedium: "SF-Pro-Display-Medium";

/*
    variables color
*/

$colorGray: #545454;
$colorBlack: #262626;
$colorGrayDark: #242828;
$colorRed: #921c1a;
$colorWhite: #ffffff;
$colorBlue: #095ADB;
$colorLightBlue: #0583E0;
$colorDarkBlue: #091951;

/*
    variables font size
*/

$fontSize11: 11px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize17: 17px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize21: 21px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize25: 25px;
$fontSize26: 26px;
$fontSize28: 28px;
$fontSize29: 29px;
$fontSize30: 30px;
$fontSize36: 36px;
$fontSize38: 38px;
$fontSize32: 32px;
$fontSize40: 40px;
$fontSize42: 42px;
$fontSize45: 45px;
$fontSize46: 46px;
$fontSize48: 48px;
$fontSize50: 50px;
$fontSize52: 52px;
$fontSize56: 56px;
$fontSize58: 58px;
$fontSize60: 60px;
$fontSize65: 65px;
$fontSize64: 64px;
$fontSize64: 64px;
$fontSize72: 72px;
$fontSize73: 73px;
$fontSize80: 80px;
$fontSize88: 88px;
$fontSize91: 91px;
$fontSize99: 99px;