header {
    color: $colorWhite;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    @include responsive(xs) {
        height: 150px;
    }
    .logo {
        width: 200px;
        @include responsive(xs) {
            width: unset;
        }
    }
    .btn-contact {
        border: 1px solid $colorWhite;
        border-radius: 30px;
        outline: 0;
        background-color: transparent;
        color: $colorWhite;
        padding: 8px 35px;
        text-transform: uppercase;
        font-size: $fontSize14;
        font-family: $fontSFProSemiBold;
        cursor: pointer;
        &:hover {
            background-color: $colorWhite;
            border: 1px solid $colorLightBlue;
            color: $colorLightBlue;
        }
    }
    nav {
        position: static !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        @include responsive(xl) {
            position: unset;
        }
        .navbar-toggler {
            padding-right: 0;
        }
        .navbar-collapse {
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;
            background-color: $colorWhite;
            @include responsive(xl) {
                position: unset;
                background-color: transparent;
            }
        }
        .navbar-nav {
            li {
                padding: 0.5rem !important;
                &:hover {
                    &>.sub-menu:first-of-type {
                        display: block;
                    }
                }
                @include responsive(xl) {
                    padding: 0.5rem 1rem !important;
                }
            }
            a {
                font-size: 16px;
                color: $colorLightBlue;
                display: block;
                padding: 0;
                @include responsive(xl) {
                    color: $colorWhite;
                }
                &.dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
            }
            .sub-menu {
                background-color: #0F50AF;
                min-width: 165px;
                border-radius: 5px;
                border: 0;
                margin: 0;
                padding: 0;
                li {
                    border-bottom: 1px solid #1658B8;
                    &:last-child {
                        border: 0;
                    }
                }
                a {
                    padding: 0.5rem !important;
                    font-size: $fontSize14;
                    color: $colorWhite;
                }
            }
            .sub-menu2 {
                left: 100% !important;
                top: 55%;
            }
        }
        .navbar-toogle::before {
            color: $colorWhite;
        }
    }
}