.strategy-marketing {
    background-color: #F7F8FA;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        background-image: url('../images/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 92%;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .page-caption {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 0;
        h1 {
            text-align: center;
            font-weight: bold;
            line-height: 1.75;
            font-size: $fontSize18;
            color: $colorWhite;
            @include responsive(lg) {
                font-size: $fontSize42;
            }
        }
        .caption {
            color: $colorWhite;
            padding: 2rem 0;
            font-family: $fontSFProLight;
            @include responsive(lg) {
                padding: 3rem 0;
                font-size: $fontSize20;
            }
        }
        .btn-booking-calendar {
            border: 1px solid $colorWhite;
            border-radius: 30px;
            outline: 0;
            background-color: transparent;
            color: $colorWhite;
            padding: 12px 40px;
            text-transform: uppercase;
            font-size: $fontSize12;
            font-family: $fontSFProSemiBold;
            margin-top: 15px;
            cursor: pointer;
            &:hover {
                background-color: $colorWhite;
                border: 1px solid $colorLightBlue;
                color: $colorLightBlue;
            }
            @include responsive(sm) {
                padding: 16px 50px;
                font-size: $fontSize18;
            }
        }
    }
    .page-title {
        display: flex;
        justify-content: center;
        background-color: $colorWhite;
        box-shadow: 0 -15px 15px #00000010;
        width: 100%;
        height: 90px;
        z-index: 2;
        align-items: center;
        @include responsive(sm) {
            height: 180px;
        }
        h2 {
            text-align: center;
            font-weight: bold;
            color: $colorBlack;
            font-size: $fontSize19;
            line-height: 1.6;
            @include responsive(lg) {
                font-size: $fontSize36;
            }
        }
    }
}

#strategy-marketing-main {
    background-color: #F7F8FA;
    position: relative;
    #when-need {
        @include responsive(md) {
            padding-bottom: 200px;
        }
        .list-items {
            background-color: $colorWhite;
            box-shadow: 0 5px 15px #00000010;
            border-radius: 4px;
            padding-top: 25px;
            @include responsive(lg) {
                padding: 0 50px 80px 50px;
            }
            .item {
                background: #F9F9F9;
                padding: 15px;
                border-radius: 5px;
                min-height: 270px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 3px 10px #00000010;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 30px;
                @include responsive(xl) {
                    margin-bottom: 0;
                    height: 100%;
                }
                .icon {
                    min-height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                h3 {
                    font-size: $fontSize20;
                    font-family: $fontSFProSemiBold;
                    color: $colorBlack;
                    padding: 15px 0px;
                    line-height: 1.55;
                    text-align: center;
                    @include responsive(md) {
                        padding: 30px 0px;
                        font-size: $fontSize26;
                    }
                }
                .description {
                    font-family: $fontSFProRegular;
                    line-height: 2.25rem;
                    @include responsive(md) {
                        font-size: $fontSize20;
                    }
                }
            }
        }
    }
    #benefits {
        background-color: $colorDarkBlue;
        color: $colorWhite;
        padding: 50px 0;
        @include responsive(md) {
            padding: 150px 0;
        }
        .title {
            font-weight: bold;
            line-height: 1.5;
            padding-bottom: 40px;
            font-size: $fontSize24;
            font-weight: bold;
            @include responsive(md) {
                font-size: $fontSize36;
                padding-bottom: 75px;
            }
        }
        .list-benefits {
            .item {
                text-align: center;
                h4 {
                    font-weight: bold;
                    font-size: $fontSize18;
                    color: $colorWhite;
                    padding-top: 20px;
                    line-height: 1.55;
                    @include responsive(lg) {
                        font-size: $fontSize20;
                        padding-top: 28px;
                    }
                }
            }
        }
    }
    #process {
        background-color: $colorDarkBlue;
        color: $colorWhite;
        padding: 40px 0;
        &.process-benefits {
            color: $colorBlack;
            background-color: $colorWhite;
            .list-process {
                display: flex;
                flex-wrap: wrap;
                padding-top: 30px;
                justify-content: space-around;
                @include responsive(md) {
                    padding-top: 80px;
                }
                .survey-content {
                    text-align: center;
                    padding: 10px 0;
                    flex-basis: auto;
                    .icon {
                        min-height: 65px;
                    }
                    h4 {
                        font-size: $fontSize18;
                        font-family: $fontSFProRegular;
                        padding-top: 15px;
                        line-height: 1.7;
                        @include responsive(md) {
                            font-size: $fontSize24;
                            padding-top: 30px;
                        }
                    }
                }
                .arrow {
                    flex-basis: auto;
                    text-align: center;
                    padding-top: 20px;
                    @include responsive(md) {
                        flex-basis: auto;
                    }
                }
            }
        }
        @include responsive(md) {
            padding: 150px 0;
        }
        .name {
            font-size: $fontSize24;
            font-weight: bold;
            @include responsive(md) {
                font-size: $fontSize36;
            }
        }
        .title {
            font-size: $fontSize24;
            font-weight: bold;
            line-height: 1.6;
            @include responsive(md) {
                font-size: $fontSize36;
            }
        }
    }
}