$grid-breakpoints: ( // Extra small screen / phone
xs: 0, // Small screen / phone
sm: 576px, // Medium screen / tablet
md: 768px, // Large screen / desktop
lg: 992px, // Extra large screen / wide desktop
xl: 1200px, //desktop
xxl: 1360px, // HD
);
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1360px);
@import "../bootstrap/bootstrap.scss";
@import "../fontawesome/css/all.css";
@import "./avariable";
@import "./mixi";
@import "../slick/slick";
@import "../slick/slick-theme";
@import "./fonts";
@import "./icon";
@import "./default";
@import "./common";
@import "./header";
@import "./home";
@import "./seo";
@import "./facebook-marketing";
@import "./marketing-multichannel";
@import "./strategy-marketing";
@import "./mobile-sip-truck";
@import "./about";
@import "./blogs";
@import "./customer-story";
@import "./blog-detail";
@import "./main";
@import "./footer";